header .menuAberto .institucional .menuNovo .header_1 {
    height: 22.7vh !important;
}
.institucional .menuNovo .header_2,
.institucional .menuNovo .header_3
{
    height: 30.65vh !important;
}
header .header_2
{
	background-color: #fbfbfb !important;
	border-bottom:1px solid #f2f2f2;
}
header .alignLogoMenu
{
	display:table;
	margin: 0 auto;
}
header .social
{
	margin:20px auto 0;
	padding: 0;
}
header .social a
{
	border: 0 !important;
}


header .header_3
{
	background:#FFF !important;
}

header .header_3 .contentHeader3
{
	display:table;
	margin:0 auto;
}

.snapMenu
{
	float:left;
	position:relative;
	border:1px solid #e7e7e7;
	padding: 25px;
	border-radius:40px;
}
.menuInstitucional
{
	float: left;
	position:relative;
	font-size:14px;
	margin-left: 40px;
	margin-top: 23px;
}
.menuInstitucional a
{
	color: #161616;
	margin-bottom: 34px;
	clear: both;
	display: block;
	text-align: left;
	font-weight: bold;
	background: url(../img/dash.png) 0 6px no-repeat;
	padding-left: 27px;
}
.menuInstitucional a:last-child
{
	margin-bottom:0;
}



header .header_4
{
	background:#fbfbfb !important;
	border-top: 1px solid #eeeeee;
	letter-spacing: 1.5px;
}
header .header_4 .submenu 
{
	line-height: 0;
    height: 10px;
    border-top: 0;
}
header .header_4 .submenu a
{
	font-size:14px;
}

header .header_5 
{
	background:#121212 !important;
	letter-spacing: 1.5px;
}
header .header_5 .copyright
{
	font-size:11px;
	color:#FFF;
}
header .header_5 .copyright a
{
	color:#FFF;
}
header .header_5 .copyright a:hover
{
	color:#66fff2;
}
@media only screen and (max-width: 1200px)
{
	header .menu,
	header .logarBtn
	{
		margin-right: 15px;
	}
	header .search,
	header .view,
	header .filter
	{
		margin-left: 15px;
	}
	header .sendPost
	{
		padding:0 35px;
	}
}
@media only screen and (max-height: 800px)
{
	header .header_4 .submenu a
	{
		font-size: 11px;
	}
	header .header_5 .copyright
	{
		font-size:9px;
	}

	.snapMenu
	{
		display:flex;
	}
	.snapMenu img
	{
		width:130px;
		height:131px;
	}
	.menuInstitucional a
	{
		margin-bottom: 22px;
	}
	header .social
	{
		margin: 0 auto;
	}
}
@media only screen and (max-width:1100px)
{
	header .menuAberto .containerCatLoja .categorias a.allcats
	{
		font-size: 55px;
	    line-height: 62px;
	    height: 60px;
	}
	header .menuAberto .containerCatLoja .categorias a
	{
		font-size: 35px;
		line-height: 42px;
		height: 40px;
	}
}

@media only screen and (max-height: 700px)
{
	header .newsletter input
	{
		height: 50px;
		line-height:50px;
	}
	header .headerMenu .search
	{
		height: 50px;
	    width: 50px;
	    background-size: 15px;
	}
	header .logarBtn.loginButton.fechaMenu.abreLogin
	{
		height: 50px;
		line-height: 50px;
	}
	header .alignLogoMenu img
	{
		width: 200px;
	}
	header .closeMenu
	{
		height: 50px;
	    width: 50px;
	    background-size: 48px;
	}
	header .social a
	{
		height: 50px;
	    width: 50px;
	    -webkit-background-size: cover;
	    background-size: cover;
	    margin-top: 10px;
	}



	header .snapMenu {
	    padding: 15px;
	    border-radius: 30px;
	}
	header .snapMenu img {
	    width: 110px;
	    height: 111px;
	}


	header .menuInstitucional {
	    font-size: 12px;
	    margin-top: 13px;
	}
	.menuInstitucional a {
	    margin-bottom: 19px;
	}
	header .header_4 .submenu a {
	    font-size: 9px;
	}
	header .header_5 .copyright {
	    font-size: 8px;
	}
}

@media only screen and (max-height: 550px)
{
	.institucional .menuNovo .header_1 {
	    height: 16.7vh !important;
	}
	.institucional .menuNovo .header_2 {
		height: 25.65vh !important;
	}
	.institucional .menuNovo .header_3 {
	    height: 35.65vh !important;
	}
	header .alignLogoMenu img {
	    width: 180px;
	}
	.menuAberto .institucional .social {
	    padding-top: 0;
	}
}